.row
  .col-md-4.col-md-offset-4
    %h2 Sign in
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :defaults => {:wrapper_html => {:class => 'form-group'}}) do |f|
      = f.input :email, :required => false, :autofocus => true, :input_html => { :class => 'form-control' }
      = f.input :password, :required => false, :input_html => { :class => 'form-control' }
      = f.input :remember_me, inline_label: 'Yes, remember me', label: false, :as => :boolean if devise_mapping.rememberable?
      = f.button :submit, "Sign in", :class => 'btn btn-lg btn-primary btn-block'
    = render "devise/shared/links"
